[submodule "clu"]
	path = clu
	url = https://github.com/sdss/clu
	branch = main
[submodule "cluplus"]
	path = cluplus
	url = https://github.com/sdss/cluplus
	branch = master
[submodule "araviscam"]
	path = aravsicam
	url = https://github.com/sdss/araviscam
	branch = main
[submodule "skymakercam"]
	path = skymakercam
	url = https://github.com/sdss/skymakercam
	branch = master
[submodule "lvmtipo"]
	path = lvmtipo
	url = https://github.com/sdss/lvmtipo
	branch = main
[submodule "lvmecp"]
	path = lvmecp
	url = https://github.com/sdss/lvmecp
	branch = master
[submodule "lvmscp"]
	path = lvmscp
	url = https://github.com/sdss/lvmscp
	branch = master
[submodule "lvmops"]
	path = _lvmops
	url = https://github.com/sdss/lvmops
	branch = main
[submodule "lvmcam"]
	path = lvmcam
	url = https://github.com/sdss/lvmcam
	branch = main
[submodule "lvmagp"]
	path = lvmagp
	url = https://github.com/sdss/lvmagp
	branch = master
[submodule "lvmpwi"]
	path = lvmpwi
	url = https://github.com/sdss/lvmpwi
	branch = main
[submodule "lvmtan"]
	path = lvmtan
	url = https://github.com/sdss/lvmtan
	branch = main
[submodule "lvmieb"]
	path = lvmieb
	url = https://github.com/sdss/lvmieb
	branch = master
[submodule "lvmcore"]
	path = lvmcore
	url = https://github.com/sdss/lvmcore
	branch = master
[submodule "basecam"]
	path = basecam
	url = https://github.com/sdss/basecam
	branch = main
[submodule "lvmnps"]
	path = lvmnps
	url = https://github.com/sdss/lvmnps
	branch = master
